* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
:root {
  --blue: #004b8e;
  --lightBlue: #e3eefa;
  --bgRed: #ffcece;
  --bgGreen: #cbeacb;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
body,
html {
  margin: 0;
  height: 100%;
}

.card {
  position: relative;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0.5px 0.5px 5px gray;
  text-align: center;
}

.card:hover {
  box-shadow: 0.5px 0.5px 15px gray;
}

.top-nav {
  display: flex;
  align-items: center;
  margin: 0;
  list-style: none;
}

.side-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 20vw;
  height: 90vh;
  overflow: hidden;
  border-right: 1px solid var(--blue);
  background-color: var(--lightBlue);
}

.side-nav li {
  border-bottom: 1px solid var(--blue);
  font-size: large;
  background-color: var(--lightBlue);
}
.side-nav a {
  display: block;
  margin: 0;
  padding: 1rem;
  width: 100%;
}

.main-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.main {
  display: flex;
}

.totalBalance {
  background-color: var(--lightBlue);
  padding: 1rem;
  border: 1px solid var(--blue);
  text-align: right;
  font-size: large;
  color: var(--blue);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 7rem;
  background-color: #90c3f1;
  border-bottom: 5px solid var(--blue);
}

nav #userName {
  margin: 1rem;
  font-size: large;
  color: var(--blue);
}

nav ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

ul a {
  text-decoration: none;
  color: var(--blue);
  margin: 1rem;
  padding: 1rem;
  font-size: large;
}

.active {
  color: white;
  background-color: var(--blue);
}
.btn-danger {
  font-size: large;
  margin: 1rem auto;
  padding: 0.5rem;
  height: 3rem;
  display: block;
  background-color: #f01d20 !important;
  color: white !important;
}
.btn-danger:hover {
  background-color: red !important;
}
.btn-success {
  font-size: large;
  padding: 0.5rem;
  height: 3rem;
  margin: 1rem auto 1rem;
  display: block;
  background-color: #1ca51c !important;
  color: white !important;
}
.btn-success:hover {
  background-color: #1abd38 !important;
}

#logo {
  width: 7rem;
  mix-blend-mode: multiply;
}

#logout {
  border: 1px solid var(--blue);
  padding: 0.6rem;
  margin: 1rem;
  color: white;
  font-size: large;
  text-decoration: none;
  background-color: var(--blue);
}

.form-container {
  margin: 5rem auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-evenly;
  align-items: center;
  font-size: larger;
  border-radius: 1rem;
  padding: 1rem;
  background-color: white;
  box-shadow: 0.5px 0.5px 5px gray;
}
.form-container:hover {
  box-shadow: 0.5px 0.5px 15px gray;
}
.form-container input {
  padding: 1rem;
  font-size: large;
  display: block;
  border-radius: 0.5rem;
  height: 3rem;
  width: 90%;
}
.form-container select {
  font-size: large;
  display: block;
  border-radius: 0.5rem;
  height: 3rem;
  width: 90%;
}
.form-container label {
  width: 90%;
  text-align: left;
  font-weight: 800;
}
.form-container button {
  background-color: var(--blue);
  color: white;
  padding: 0.5rem;
  height: 3rem;
  font-size: larger;
}
.form-container button:not(:disabled):hover {
  background-color: #0967b9;
}
.table {
  width: 80%;
  margin: 3rem 2rem;
  margin: 3rem auto;
}
.table,
.table tr {
  border: 1px solid gray;
  border-collapse: collapse;
}

.table td,
.table th {
  font-size: large;
  padding: 1rem;
  text-align: left;
  width: 50%;
}

.border-table {
  width: 90%;
  margin: 1rem auto 3rem;
  /* margin: 3rem 2rem; */
}
.border-table,
.border-table td,
.border-table th {
  border: 1px solid gray;
  border-collapse: collapse;
}

.border-table td,
.border-table th {
  font-size: large;
  padding: 1rem;
  text-align: center;
}
.search {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
  width: 90%;
  margin: 3rem auto 0;
  text-align: end;
  font-size: large;
}
.search form {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.search input {
  padding: 0.5rem;
  font-size: large;
}
.search label {
  text-align: end;
  width: fit-content;
}
.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.options div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 16rem;
  height: 5rem;
  padding: 2rem;
  background-color: var(--lightBlue);
  font-size: larger;
  color: var(--blue);
}

.options .selected {
  transform: scale(0.9);
  box-shadow: 0.5px 0.5px 15px var(--blue);
}
.transfer-options {
  margin-top: 3rem;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.transfer-options div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20rem;
  padding: 2rem;
  background-color: var(--lightBlue);
  font-size: larger;
  color: var(--blue);
}

.transfer-options .selected {
  transform: scale(0.9);
  box-shadow: 0.5px 0.5px 15px var(--blue);
}
.account-selection {
  margin-left: 3rem;
  padding: 0.5rem;
  min-inline-size: 5rem;
}
.selection {
  padding: 0.5rem;
  min-inline-size: 5rem;
}
.page-container {
  display: flex;
  overflow: scroll;
}
.pages {
  display: flex;
  margin: auto;
  margin-bottom: 1rem;
  width: 36rem;
  justify-content: center;
}
.page {
  padding: 1rem;
  width: 3rem;
}
.pages div:hover{
	cursor:pointer;
}
.pages div {
  border: 1px solid white;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: var(--blue);
}

div.activePage {
  color: var(--blue);
  background-color: var(--lightBlue);
  border: 1px solid var(--blue);
}

.back-drop {
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: rgba(128, 128, 128, 0.475);
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  display: none;
}

.user-form-container {
  margin: 5rem auto 2rem;
  width: 50%;
  background-color: white;
  box-shadow: 0.5px 0.5px 5px gray;
  padding-bottom: 0.5rem;
}

.user-form-container:hover {
  box-shadow: 0.5px 0.5px 15px gray;
}

.user-form-container h3 {
  text-align: center;
  color: white;
  background-color: var(--blue);
  padding: 1rem;
  margin: 0;
}

.user-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  font-size: larger;
  padding: 1rem;
}
.user-form button {
  background-color: var(--blue);
  color: white;
  padding: 0.5rem;
  height: 3rem;
  font-size: larger;
  margin: 1rem;
}
.user-form button:not(:disabled):hover {
  background-color: #0967b9;
}
.form-column {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  text-align: left;
  align-items: center;
}

.form-row {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
}

.user-form label {
  flex: 1;
  text-align: left;
  margin-right: 10px;
}

.user-form input {
  flex: 2;
  padding: 1rem;
  margin: 1rem;
  font-size: large;
  border-radius: 0.5rem;
  height: 3rem;
  width: 100%;
}

.user-form select {
  flex: 2;
  margin: 1rem;
  font-size: large;
  border-radius: 0.5rem;
  height: 3rem;
  width: 100%;
}

.border-table tr:hover:not(:has(th)) {
  background-color: rgba(128, 128, 128, 0.224);
  cursor: pointer;
}

.credit {
  color: green;
}
.debit {
  color: red;
}
.info-table td,
.info-table th {
  padding: 0.5rem;
}
button:disabled {
  background-color: rgba(128, 128, 128, 0.461);
}
.statusButton {
  margin: 0;
  padding: 0;
}
.profile-container {
  width: 40%;
  font-size: large;
  margin: 5rem auto 0;
}
.profile {
  text-align: left;
  display: flex;
}
.profile h3 {
  width: 100%;
}
.profile .row {
  flex: 1;
  padding: 1.5rem;
  display: flex;
  align-items: flex-start;
}
.profile .row div {
  width: 50%;
  height: 100%;
}
.profile .row div:first-child {
  display: flex;
  font-weight: 700;
  gap: 1rem;
  align-items: center;
}
.profile .row img {
  width: 1.5rem;
  height: 1.5rem;
}
.profile .column {
  width: 50%;
}
.profile-container button {
  background-color: var(--blue);
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem auto;
  color: white;
  height: 3rem;
  justify-content: center;
  font-size: larger;
}
.error {
  width: 40%;
  margin: 2rem auto;
  background-color: var(--bgRed);
  color: red;
  font-size: large;
  padding: 2rem;
}
.success {
  width: 30%;
  margin: 2rem auto;
  background-color: var(--bgGreen);
  color: green;
  font-size: large;
  padding: 2rem;
}
#message {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translate(-50%, 100%);
  z-index: 10;
}
.btn-search {
  background-image: url("../images/search.png");
  background-size: contain;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
}
.btn-option {
  cursor: pointer;
  width: 10rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
}
.add-button {
  position: absolute;
  padding:1rem;
  font-size: large;
  right: 0.2rem;
  top: 0.2rem;
  background-color: var(--lightBlue);
  height: 3rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
